

<h3 style="justify-content:center;color: greenyellow;">Doctor's Prescription:- </h3>
<br>
<div class="container text-center">
    <iframe src="https://gitaeduin-my.sharepoint.com/personal/satya_182107_gita_edu_in/_layouts/15/Doc.aspx?sourcedoc={2eaf86b6-d2c0-40f9-b5eb-e5198462a850}&amp;action=embedview" width="800px" height="600px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> document, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
</div>

    <button (click)="goBack()" style="background: black;color:greenyellow;" class="btn btn-primary" style="margin-top: 5px; margin-left: 5px;">Go Back to Patient's page</button>
