<div class="container" style="background-color: black;margin-top: 15px;border-radius: 25px; color:greenyellow;">





<section >
   
    <h1 class="text-center">{{title}}</h1>
    <div class="example-button-row " >
       <h6><i>“Time and health are two precious assets that we don’t recognize and appreciate until they have been depleted.”</i></h6> 
      <button mat-flat-button routerLink="accesseverything" routerLinkActive="active" color="primary">Click here to get Started with our web app</button>
     
    </div>
  </section>
 
  <div class="album py-5 bg-black">
    <div class="container" style="background-color: black; color:greenyellow">
        <div class="container d-flex justify-content-center text-center mb-4">
            <h1>Specialists</h1>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="background-color: black; color:greenyellow;">
            <div class="col" style="background-color: black; color:greenyellow;">
                <div class="card shadow-sm" style="background-color: black; color:greenyellow;">
                    <img src="https://source.unsplash.com/1600x900/?covid,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">COVID CONSULTATION</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-black btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col" style="background-color: black; color:greenyellow;">
                <div class="card shadow-sm" style="background-color: black; color:greenyellow;">
                    <img src="https://source.unsplash.com/1600x900/?PHYSICIAN,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">CONSULTANT PHYSICIAN</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="background-color: black; color:greenyellow;">
                    <img src="https://source.unsplash.com/1600x900/?GYNECOLOGY,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">GYNECOLOGY</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm" style="background-color: black; color:greenyellow;">
                    <img src="https://source.unsplash.com/1600x900/?PEDIATRICS,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">PEDIATRICS</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm" style="background-color: black; color:greenyellow;">
                    <img src="https://source.unsplash.com/1600x900/?DERMATOLOGY,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">DERMATOLOGY</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card shadow-sm" style="background-color: black; color:greenyellow;">
                    <img src="https://source.unsplash.com/1600x900/?ALLERGOLOGY,DOCTOR" class="card-img-top img-fluid"
                        width="100%" height="225" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">ALLERGOLOGY</h5>
                        <p class="card-text m">With supporting text below as a natural therapy
                        </p>
                        <button type="button" class="btn btn-outline-dark btn-light border-2 rounded-3">Book
                            Appointment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<footer class="text-center text-white" style="background-color: #21081a;border-radius: 15px; position: relative;">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: blue">
      © 2022 @Satya_Prakash_Das:
      <a class="text-white" >HMS Project</a>
    </div>
    <!-- Copyright -->
  </footer>